<footer class="bg-dark text-white pt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5>Alejandro Quindimil</h5>
          <p> Software Engineer</p>
        </div>
        <div class="col-md-6 text-md-end">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="https://github.com/AlejandroQuindimil" class="text-white"><i class="fab fa-github fa-lg"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/alejandroquindimilcancio" class="text-white"> <i class="fab fa-linkedin fa-lg"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.kaggle.com/alexquindi/code" class="text-white"><i class="fab fa-kaggle fa-lg"></i></a>
              </li>
            <li class="list-inline-item">
                <a id="correo-electronico" href="mailto:alejandro.quindimil.cancio@gmail.com" class="text-white" (click)="copiarCorreo()">alejandro.quindimil.cancio&#64;gmail.com</a>
            </li>
            <li class="list-inline-item"  (click)="copiarCorreo()" class="button" target="_blank"><i class="fas fa-envelope fa-lg"></i>
                
            </li>
            
          </ul>
        </div>
      </div>
      <div class="text-center mt-3">
        <p>&copy; 2024 Alejandro Quindimil. All rights reserved.</p>
      </div>
    </div>
  </footer>