<footer class="footer">
  <div class="footer-container">
    <!-- Footer Left - Copyright -->
    <div class="footer-copyright">
      <span>© 2026 | Alejandro Quindimil | Desarrollado usando Angular & Tailwind CSS</span>
    </div>
    
    <!-- Footer Right - Links -->
    <div class="footer-links">
      <a href="#aboutme" class="footer-link">Sobre mí</a>
      <a href="#personal-projects" class="footer-link">Proyectos</a>
      <a href="#contact" class="footer-link">Contacto</a>
      <div class="help-icon" title="Ayuda">
        <i class="fas fa-question"></i>
      </div>
    </div>
  </div>
</footer>
