/* src/app/projects/projects.component.css */
.project-card{
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
}
.projects-section {
  width: 70%; /* Ocupa el 70% de la pantalla */
  margin: 0 auto; /* Centra la sección */
  padding: 20px; /* Espaciado interno */
}

.projects-container {
  display: flex; /* Utiliza flexbox para el diseño */
  flex-direction: column; /* Coloca los elementos en columna */
  align-items: center; /* Centra los elementos horizontalmente */
}

.project-item {
  background-color: #f8f9fa; /* Color de fondo */
  border-radius: 8px; /* Bordes redondeados */
  padding: 15px; /* Espaciado interno */
  margin-bottom: 20px; /* Espaciado entre proyectos */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para efecto de elevación */
  width: 100%; /* Ocupa el 100% del contenedor */
  max-width: 600px; /* Limita el ancho máximo de cada proyecto */
}

.project-item h3 {
  margin: 0; /* Elimina margen */
  font-size: 1.5em; /* Tamaño de fuente */
}

.project-item p {
  color: #6c757d; /* Color del texto */
}

@media (max-width: 768px) {
  .projects-section {
      width: 90%; /* Ajusta el ancho al 90% en pantallas pequeñas */
  }
}

#Carrusel
.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin:auto;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease;
  /* transform: translateX(-{{ currentIndex * 100 }}%); */
}

.carousel-image {
  min-width: 100%;
  border-radius: 8px;
  display: none; /* Oculta todas las imágenes por defecto */
}

.carousel-image.active {
  display: flex; /* Muestra solo la imagen activa */
}

/* Ocultar las flechas por defecto */
.carousel-control {
  position: absolute; /* Cambiar a posición absoluta */
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  opacity: 0; /* Oculta las flechas */
  transition: opacity 0.3s ease; /* Transición suave */
}

/* Mostrar las flechas al pasar el ratón sobre el carrusel */
.carousel:hover .carousel-control {
  opacity: 1; /* Muestra las flechas */
}

.prev {
  left: 10px; /* Ajusta la posición a la izquierda */
}

.next {
  right: 10px; /* Ajusta la posición a la derecha */
}

/* --------------------------------------------------------------------------------------------------------------- */
  #other-projects

  .other-projects-section {
    width: 70%; /* Ocupa el 70% de la pantalla */
    margin: 0 auto; /* Centra la sección */
    padding: 20px; /* Espaciado interno */
}

  
  .other-projects-container {
    width: 100%; /* Limitar el ancho del contenedor al 70% */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrar las tarjetas de proyecto */
    padding: 20px;
    font-family: Arial, sans-serif;
  }

  @media (max-width: 768px) {
    .other-projects-section {
        width: 100%; /* Ajusta el ancho al 90% en pantallas pequeñas */
    }
}
.project-list {
  margin: 0 auto; 
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 70%;
  justify-content: center;
}

.project-card2 {
  flex: 1;
  padding: 30px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease,   
  box-shadow 0.3s ease;
  margin-bottom: 20px;
  width: 70%; /* Set the card width to 70% */
  justify-content: right;
  align-items: right;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    color: #55E6C1;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

p {
    color: #333;
    font-size: 1rem;
    margin-bottom: 10px;
}

.project-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.icon-link {
    color: #333;
    transition: color 0.3s ease;
}

.icon-link:hover {
    color: #007bff;
}

.icon-link i {
    font-size: 1.2rem;
}

.icon-size {
  font-size: 1.5rem; 
}

.project-card {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
  font-size: 24px;
  font-weight: bold;
  color: #55E6C1;
  margin-bottom: 15px;
}

.project-description {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}

.project-tags {
  display: flex;
  flex-wrap: wrap; /* Permite que las etiquetas se ajusten en varias líneas si es necesario */
  margin-top: 10px;
  
}

.project-tags .badge {
  margin-right: 5px; /* Espacio entre las etiquetas */
  margin-bottom: 5px; /* Espacio entre filas de etiquetas */
  padding: 5px 10px; /* Espaciado interno para las etiquetas */
  font-size: 0.9rem; /* Tamaño de fuente ajustado */
  border-radius: 0.75rem; /* Bordes redondeados */
  color: #55E6C1;
  background-color: #000;
}