<section id="personal-projects" class="py-5 bg-light">
  <div class="container proyectos-container">
    <h2 class="text-center mb-5"><span class="number">04. </span> Proyectos</h2>
    <div class="projects-section">
      <!-- Proyecto 1 -->
      <div class="col-12 mb-4">
        <div class="project-card">
          <h3>My Fit Meal</h3>
          <p class="text-muted">{{resumen_app1}}</p>
          
          <div class="carousel">
            <div class="carousel-images carousel1">
              <img *ngFor="let image of images; let i = index" 
                   [src]="image" 
                   [class.active]="i === currentIndex" 
                   class="carousel-image"
                   (click)="openImage(image)">
            </div>
            <button (click)="prev()" class="carousel-control prev">❮</button>
            <button (click)="next()" class="carousel-control next">❯</button>
          </div>
          <div class="project-tags">
            <span class="badge bg-secondary">Angular</span>
            <span class="badge bg-secondary">Typescript</span>
            <span class="badge bg-secondary">HTML</span>
            <span class="badge bg-secondary">CSS</span>
            <span class="badge bg-secondary">Ionic</span>
          </div>
          <div class="mt-3">
            <a href="#" class="btn btn-outline-dark" style=" font-size: 1.25rem;">
              <i class="fa fa-link" aria-hidden="true"></i>
            </a>
            <a href="https://github.com/AlejandroQuindimil/MyFitMeal" class="btn btn-outline-dark btn-lg" style=" font-size: 1.25rem; margin-left: 10px;">
              <i class="fab fa-github me-1"></i> 
            </a>
          </div>
        </div>
      </div>
      
                        
      <!-- Proyecto 2 -->
      <div class="col-12 mb-4">
        <div class="project-card">
          <h3>Proyecto 2</h3>
          <p class="text-muted">Mazhr es una compañía finlandesa de Gestión de Potencial y Talento Inteligente que ayuda a las organizaciones a construir equipos mejores y más eficientes mediante la combinación de su talento y potencial. Tiene varias instalaciones hechas desde cero con auth flexible, configuración dinámica, configuración de usuario, gestión de datos y geolocalización con openlayers.</p>
          
          <div class="carousel">
            <div class="carousel-images carousel2">
              <img *ngFor="let image of images2; let i = index" 
                   [src]="image" 
                   [class.active]="i === currentIndex2" 
                   class="carousel-image"
                   (click)="openImage(image)">
            </div>
            <button (click)="prev2()" class="carousel-control prev">❮</button>
            <button (click)="next2()" class="carousel-control next">❯</button>
          </div>
          <div class="project-tags">
            <span class="badge bg-secondary">Angular</span>
            <span class="badge bg-secondary">Typescript</span>
            <span class="badge bg-secondary">HTML5</span>
            <span class="badge bg-secondary">CSS3</span>
            <span class="badge bg-secondary">Bootstrap</span>
          </div>
          <div class="mt-3">
            <a href="#" class="btn btn-outline-dark btn-sm me-2" style=" font-size: 1.25rem; position: rigth;">
              <i class="fa fa-link" aria-hidden="true"></i>
            </a>
            <a href="#" class="btn btn-outline-dark btn-sm" style=" font-size: 1.25rem; margin-left: 10px;">
              <i class="fab fa-github me-1"></i> 
            </a>
          </div>
        </div>
      </div>
      
    </div>
    <app-image-modal></app-image-modal>
  </div>
</section>
