<div class="intro">
    <p></p>
    <p>Hello! My name is</p>
    <h2>Alejandro Quindimil.</h2>
    <h3>Software Developer | Specializing in Big Data, AI & Full Stack Development</h3>
    <p>I have 4+ years of experience developing systems, interfaces, bots, and technological solutions to make the web a better place. I am dedicated to writing and refactoring clean, reusable, and scalable code in <a href="#">Angular</a>, <a href="#">React</a>, <a href="#">NodeJS</a>, <a href="#">ExpressJS</a> and <a href="#">NestJS</a> and sometimes in <a href="#">Python</a> applying good practices and development standards.</p>
    <div class="buttons">
        <button class="button" onclick="window.location.href='mailto:tu-email@example.com'">Enviar correo</button>
        <button class="button" onclick="copiarAlPortapapeles('tu-email@example.com')">Copiar correo</button>
    </div>
</div>

<!-- Mover mas adelante  -->
<script>
    function copiarAlPortapapeles(texto) {
        navigator.clipboard.writeText(texto).then(() => {
            alert('Correo copiado al portapapeles');
        }, (err) => {
            console.error('Error al copiar: ', err);
        });
    }
</script>

<div class="container">
    <div class="text">
        <h1>01. Sobre mí</h1>
        <p>En mis más de 4 años como desarrollador, busco entrenar cada día. He trabajado escribiendo pruebas unitarias, realizando integración continua y cubriendo roles de desarrollador backend con ExpressJS, NestJS, MongoDB y MySQL. He liderado equipos teniendo empatía, motivando a los socios y estableciendo planes y metas juntos.</p>
        <p>Mis habilidades también incluyen implementar mejoras en el sistema, optimizar sitios, estandarizar patrones y sugerir y ejecutar ideas que agreguen valor al proyecto en el que estoy trabajando. Algunas de las tecnologías que he entrenado y con las que he trabajado incluyen (pero no se limitan a):</p>
        <ul>
            <li>Lenguajes de programación: <a href="#">Java</a>, <a href="#">JavaScript</a>, <a href="#">Python</a></li>
            <li>Big Data: <a href="#">Hadoop</a>, <a href="#">PySpark</a>, <a href="#">HDFS</a>, <a href="#">Apache Kafka</a>, <a href="#">Flume</a></li>
            <li>Bases de datos: <a href="#">SQL</a>, <a href="#">MongoDB</a></li>
            <li>Frameworks: <a href="#">Spring</a>, <a href="#">Angular</a></li>
            <li>Herramientas: <a href="#">Selenium</a></li>
        </ul>
    </div>
    <div class="image">
        <img src="Resumen.png" alt="Paisaje">
    </div>
</div>