<!-- src/app/experience/experience.component.html -->
<section id="experience" class="experience-section">
  <div class="container">
      <h2 class="text-center">Experience</h2>
      <div class="experience-item">
          <h3>Fullstack Developer | Emblem</h3>
          <p class="text-muted">March 2022 - Present</p>
          <ul>
              <li>Developed and maintained a web-based application using Angular, Node.js, and MongoDB, resulting in improved user experience and increased performance.</li>
              <li>Designed and implemented RESTful APIs to support multiple applications, using Node.js and Express.</li>
              <li>Built a real-time chat application using WebSockets and Node.js, increasing communication and collaboration among team members.</li>
              <li>Implementation of continuous integration and daily backups.</li>
              <li>Leading a team of 4 people in the development of an E-commerce platform made in React, Node, and MySQL.</li>
              <li>Planning meetings and reports.</li>
          </ul>
      </div>
      <div class="experience-item">
          <h3>Frontend Developer | BCM</h3>
          <p class="text-muted">May 2020 - February 2022</p>
          <ul>
              <li>Developed responsive web applications using React.js and Bootstrap.</li>
              <li>Collaborated with designers to create a seamless user experience.</li>
          </ul>
      </div>
      <div class="experience-item">
          <h3>Freelancer</h3>
          <p class="text-muted">Jan 2019 - Apr 2020</p>
          <ul>
              <li>Worked on various projects, enhancing skills in web development.</li>
          </ul>
      </div>
  </div>
</section>