<!-- src/app/education/education.component.html -->
<section id="education" class="education-section">
    <div class="container">
        <h2 class="text-center"><span class="number">02.</span> {{edu}}</h2>
        <p>{{infoeducation}}</p>
        
        <div class="accordion">
            <button class="accordion-button">{{lang}}<span class="arrow">↓</span></button>
            <div class="accordion-content">
                <div class="language-card">
                    <img src="Flag_of_Spain.svg.png" alt="Castellano" class="language-icon">
                    <div class="language-info">
                        <h4>{{esp}}</h4>
                        <p>{{nat}}</p>
                    </div>
                </div>
                <div class="language-card">
                    <img src="Flag_of_Galicia.svg.png" alt="Gallego" class="language-icon">
                    <div class="language-info">
                        <h4>{{gal}}</h4>
                        <p>{{nat}} | Celga 4</p>
                    </div>
                </div>
                <div class="language-card">
                    <img src="Flag_of_uk.png" alt="Inglés" class="language-icon">
                    <div class="language-info">
                        <h4>{{eng}}</h4>
                        <p>{{eng_lvl}}</p>
                    </div>
                </div>
            </div>
  
            <button class="accordion-button">{{studies}}<span class="arrow">↓</span></button>
            <div class="accordion-content">
                
                <p>2023 - 2024  <strong>{{studies1}}</strong>{{coleg1}}</p>
                <ul>
                    <li><a href="" target="_blank">Malaria Detector</a></li>
                </ul>
                <p>2019 - 2021 - <strong>{{studies2}}</strong>{{coleg2}}</p>
                <ul>
                    <li><a href="" target="_blank">My Fit Meal</a></li>
                </ul>
                    <p>2017 - 2019 - <strong>{{studies3}}</strong>{{coleg3}}</p>
                
            </div>
  
            <button class="accordion-button">{{curses}}<span class="arrow">↓</span></button>
            <div class="accordion-content">
                <p>{{curses1}}<strong>{{curses2}}</strong> - 253h</p>
                <p>{{resumcurse}}</p>
               
            </div>
  
            <button class="accordion-button">{{tec}}<span class="arrow">↓</span></button>
            <div class="accordion-content">
            <div><h2 class="section-title">{{lang_programing}}</h2> </div>
            <div class="tech-icons">
                <div class="tech-icon">
                    <i class="devicon-java-plain-wordmark"></i>
                    <p>{{java}}</p>
                </div>
                <div class="tech-icon">
                    <i class="devicon-javascript-plain"></i>
                    <p>{{javascripts}}</p>
                </div>
                <div class="tech-icon">
                    <i class="devicon-python-plain"></i>
                    <p>{{python}}</p>
                </div>
                <div class="tech-icon">
                    <i class="devicon-c-plain-wordmark"></i>
                    <p>{{c}}</p>
                </div>
                <div class="tech-icon">
                    <i class="devicon-typescript-plain"></i>
                    <p>{{typescript}}</p>
                </div>
                <div class="tech-icon">
                    <i class="devicon-html5-plain"></i>
                    <p>{{html}}</p>
                </div>
                <div class="tech-icon">
                    <i class="devicon-css3-plain"></i>
                    <p>{{css}}</p>
                </div>
            </div>
            
            <div><h2 class="section-title">{{bbdd}}</h2></div>
            <div><h2 class="section-title">SQL</h2></div>
            <div class="tech-icons">
                <div class="tech-icon">
                    <i class="devicon-mysql-plain-wordmark"></i>
                    <p>{{mysql}}</p>
                </div>
                <div class="tech-icon">
                    <i class="devicon-mariadb-original-wordmark colored"></i>
                    <p>{{mariadb}}</p>
                </div>
                <div class="tech-icon">
                    <i class="devicon-sqlite-plain-wordmark"></i>
                    <p>{{sqlito}}</p>
                </div>
            </div>
            
            <div><h2 class="section-title">No SQL</h2></div>
            <div class="tech-icons">
                <div class="tech-icon">
                    <i class="devicon-mongodb-plain-wordmark"></i>
                    <p>{{mondongo}}</p>
                </div>
                <div class="tech-icon">
                    <i class="devicon-firebase-plain"></i>
                    <p>{{firebase}}</p>
                </div>
            </div>
            
            <div><h2 class="section-title">FRAMEWORKS</h2></div>
            <div class="tech-icons">
                <div class="tech-icon">
                    <i class="devicon-angularjs-plain colored"></i>
                    <p>{{angular}}</p>
                </div>
                <div class="tech-icon">
                    <i class="devicon-spring-original"></i>
                    <p>{{spring}}</p>
                </div>
            </div>
            
            <div><h2 class="section-title">{{data_manage}}</h2></div>
            <div class="tech-icons">
                <div class="tech-icon">
                    <i class="devicon-hadoop-plain-wordmark"></i>
                    <p>{{hadoop}}</p>
                </div>
                <div class="tech-icon">
                    <i class="devicon-apachespark-plain-wordmark colored"></i>
                    <p>{{spark}}</p>
                </div>
                <div class="tech-icon">
                    <img src="sparql.png" alt="SPARQL">
                    <p>{{sparql}}</p>
                </div>
                <div class="tech-icon">
                    <img src="hive.png" alt="Hive">
                    <p>{{hive}}</p>
                </div>
                <div class="tech-icon">
                    <img src="sqoop.png" alt="Sqoop">
                    <p>{{sqoop}}</p>
                </div>
            </div>
            
            <div><h2 class="section-title">{{data_treat}}</h2></div>
            <div class="tech-icons">
                <div class="tech-icon">
                    <i class="devicon-apachekafka-original colored"></i>
                    <p>{{kafka}}</p>
                </div>
                <div class="tech-icon">
                    <img src="flume.jpg" alt="Flume">
                    <p>{{flume}}</p>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
<section id="experience" class="experience-section">
    <div class="container">
        <h2 class="text-center"><span class="number">03. </span>{{exp}}</h2>
        <div class="experience-wrapper">
            <div class="experience-buttons">
                <button 
                    class="experience-button" data-target="experience1"
                    [class.selected]="selectedExperience === 'experience1'" 
                    (click)="selectExperience('experience1')">
                    {{exp1}}
                </button>
                <button 
                    class="experience-button" data-target="experience2"
                    [class.selected]="selectedExperience === 'experience2'" 
                    (click)="selectExperience('experience2')">
                    {{exp2}}
                </button>
            </div>
            <div class="experience-content">
                <div id="experience1" class="experience-item">
                    <h3>{{exp1}}</h3>
                    <p class="text-muted">{{exp1_date}}</p>
                    <p class="work">{{work1}}</p>
                    <ul>
                        <li>{{exp1_resum1}}</li>
                        <li>{{exp1_resum2}}</li>
                        <li>{{exp1_resum3}}</li>
                        <li>{{exp1_resum4}}</li>
                    </ul>
                </div>
                <div id="experience2" class="experience-item" style="display: none;">
                    <h3>{{exp2}}</h3>
                    <p class="text-muted">{{exp2_date}}</p>
                    <p class="work">{{work2}}</p>
                    <ul>
                        <li>{{exp2_resum1}}</li>
                        <li>{{exp2_resum2}}</li>
                        <li>{{exp2_resum3}}</li>
                        <li>{{exp2_resum4}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const buttons = document.querySelectorAll('.accordion-button');
        buttons.forEach(button => {
            button.addEventListener('click', () => {
                const content = button.nextElementSibling;
                if (content.style.display === 'block') {
                    content.style.display = 'none';
                } else {
                    content.style.display = 'block';
                }
            });
        });
    });
</script>