.contact {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 50px;
    text-align: center;
}
.contact h2 {
    margin: 0;
    font-size: 24px;
}
.contact h3 {
    font-size: 20px;
    margin: 10px 0;
}
.contact p {
    font-size: 16px;
    margin: 10px 0;
}
.contact a {
    color: #000000; /* Color texto*/
    text-decoration: none;
}
.buttons {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
.button {
    background-color: #55E6C1;
    color: rgb(255, 255, 255);
    border: none;
    padding: 5px 10px;
    margin: 5px 10px 5px 0;
    border-radius: 5px;
    cursor: pointer;
}
.buttonLinkedin {
    background-color: #0e76a8;
    color: rgb(255, 255, 255);
    border: none;
    padding: 5px 10px;
    margin: 5px 10px 5px 0;
    border-radius: 5px;
    cursor: pointer;
}
@media (max-width: 600px) {
    .contact {
        width: 90%;
    }
    .contact h2 {
        font-size: 20px;
    }
    .contact h3 {
        font-size: 18px;
    }
    .contact p {
        font-size: 14px;
    }
}


.icon-row {
    display: flex;
    gap: 5px; 
    justify-content: center;
}

.icon-link {
    font-size: 24px; /* Tamaño de los íconos */
}