<div class="intro">
    <h2>05. ¿Qué sigue?</h2>
    <h3>¡Pongámonos en contacto!</h3>
    <p>
        Estaré encantado de recibir tu contacto si quieres hablar sobre nuevas oportunidades. Escríbeme, y te responderé tan pronto como vea tu mensaje. 
        Simplemente un diseño de una página que presenta una carta de perfil con información básica sobre una persona.
    </p>
    <div class="buttons">
        <a href="mailto:tuemail@ejemplo.com" class="button">Ponte en contacto</a>
    </div>
</div>