<div id="contact" class="contact">
    <h2>{{next}}</h2>
    <h3>{{contactme}}</h3>
    <div class="icon-row">
        <a href="https://github.com/AlejandroQuindimil" class="icon-link">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:alejandro.quindimil.cancio@gmail.com" class="icon-link">
          <i class="fas fa-envelope"></i>
        </a>
        <a href="https://www.linkedin.com/in/alejandroquindimilcancio" class="icon-link">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://www.kaggle.com/alexquindi/code" class="icon-link">
          <i class="fab fa-kaggle"></i>
        </a>
    </div>
    <p>{{contact_text}}</p>
    <div class="buttons">
        <a href="mailto:alejandro.quindimil.cancio@gmail.com" class="button">{{contactme2}}</a>
        <a href="https://www.linkedin.com/in/alejandroquindimilcancio/" class="buttonLinkedin">{{dmlinkedin}}</a>
    </div>
</div>