<body>
    <div class="container">
          
          <div class="nav">
          <div class="icon">
            <img src="favicon.ico" alt="Icono" />
          </div>
            <a href="#aboutme">{{ aboutme }}</a>
            <a href="#education"> {{ education }} </a>
            <a href="#experience"> {{ experience }} </a>
            <a href="#personal-projects"> {{ proyects }} </a>
            <a href="#contact"> {{ contact }} </a>
            <a href="cv/CV_AlejandroQuindimilCancio2024.pdf" class="button" target="_blank">
                {{ cv }}
              </a>
              
              <script>
                const resumeButton = document.querySelector('button');
              
                resumeButton.addEventListener('click', function(event) {
                  event.preventDefault(); 
                });
              </script>
              <!-- <script>
                const menuToggle = document.getElementById('mobile-menu');
                const navLinks = document.getElementById('nav-links');

                menuToggle.addEventListener('click', function() {
                    navLinks.classList.toggle('active');
                });
            </script> -->
        </div>
    </div>
</body>

