<body>
  <div class="container">
    <!-- Navegación para escritorio -->
    <div class="nav desktop-nav" *ngIf="!isMobile">
      <div class="icon">
        <img src="favicon.ico" alt="Icono" />
      </div>
      <div class="etiquetas">
        <a href="#aboutme"><span class="number">01.</span> {{ aboutme }} </a>
        <a href="#education"><span class="number">02.</span> {{ education }} </a>
        <a href="#experience"><span class="number">03.</span> {{ experience }} </a>
        <a href="#personal-projects"><span class="number">04.</span> {{ proyects }} </a>
        <a href="#contact"><span class="number">05.</span> {{ contact }} </a>
        <a href="cv/CV_Alejandro_Quindimil_2026.pdf" class="button" target="_blank"> 
          {{ cv }}
        </a>
    </div>
    </div>

    <!-- Navegación para móvil -->
    <div class="nav mobile-nav" *ngIf="isMobile">
      <div class="top-bar">
        <div class="icon">
          <img src="favicon.ico" alt="Icono" />
        </div>
        <button class="menu-button" (click)="toggleMenu()">
          <span>&#9776;</span>
        </button>
      </div>
      <div class="mobile-menu" [class.open]="menuOpen">
        <button class="close-button" (click)="toggleMenu()">&#10005;</button>
        <a href="#aboutme" (click)="toggleMenu()"><span class="number">01.</span> Sobre mi</a>
        <a href="#education" (click)="toggleMenu()"><span class="number">02.</span> Educación</a>
        <a href="#experience" (click)="toggleMenu()"><span class="number">03.</span> Experiencia</a>
        <a href="#personal-projects" (click)="toggleMenu()"><span class="number">04.</span> Proyectos</a>
        <a href="#contact" (click)="toggleMenu()"><span class="number">05.</span> Contacto</a>
        <a href="cv/CV_Alejandro_Quindimil_2025.pdf.pdf" class="button" target="_blank" (click)="toggleMenu()"> 
          {{ cv }}
        </a>
      </div>
    </div>
  </div>
</body>