<body>
    <div class="container">
        <div class="nav">
            <a href="#about"> About me </a>
            <a href="#experience"> Experience </a>
            <a href="#proyects"> Projects </a>
            <a href="#contact"> Contact </a>
            <a href="cv/CV_AlejandroQuindimilCancio2024.pdf" class="button" target="_blank">
                Resume
              </a>
              
              <script>
                const resumeButton = document.querySelector('button');
              
                resumeButton.addEventListener('click', function(event) {
                  event.preventDefault(); 
                });
              </script>
        </div>
    </div>
</body>

