
<div id="other-projects" class="other-projects-section">
    <h2><span class="number">04. </span> Other Projects</h2>
    <div class="row justify-content-center"> <!-- Nuevo contenedor -->
      
      <!-- Proyecto 1 -->
      <div class="col-md-4 d-flex">
        <div class="project-card2" 
             (mouseenter)="setHover(1, true)" 
             (mouseleave)="setHover(1, false)" 
             (click)="handleClick(1, 'https://www.kaggle.com/code/alexquindi/detecting-malaria-cnn-95-accuracy')">
          <div class="project-header">
            <i class='far fa-folder-open' style='font-size:36px'></i>
            <h3>{{titleotherproyect1}}</h3>
          </div>
          <p>{{otherproyect1}}</p>
          
          <div class="project-tags default-tags" id="defaultTags" [class.hidden]="isExpanded[1] || hover[1]">
            <span class="badge">Python</span>
            <span class="badge">TensorFlow & Keras</span>
            <span class="badge">OpenCV (cv2)</span>
            <span class="badge">Matplotlib & Seaborn</span>
            <span class="badge">Scikit-learn</span>
          </div>
          <div class="project-icons" [class.hidden]="isExpanded[1] || hover[1]">
            <a href="https://www.kaggle.com/code/alexquindi/detecting-malaria-cnn-95-accuracy" class="icon-link"><i class="fa fa-link"></i></a>
            <a href="#" class="icon-link"><i class="fab fa-github"></i></a>
          </div>
      
          <!-- Contenido oculto al inicio -->
          <div class="extra-content" id="extraContent">
            <div class="project-tags" style="display: flex;">
              <span class="badge">Python</span> 
              <span class="badge">TensorFlow & Keras</span> <p>Construcción y entrenamiento de la CNN.</p>
              <span class="badge">OpenCV (cv2)</span> <p>Preprocesamiento y manipulación de imágenes.</p>
              <span class="badge">Matplotlib & Seaborn</span> <p>Análisis y visualización de resultados.</p>
              <span class="badge">Scikit-learn</span> <p>Evaluación y validación del modelo.</p>
            </div>
            <p>🎯 <strong>Objetivo:</strong></p>
            <p>{{infootherproyect1}}</p>
          </div>
          <div class="project-icons">
            <a href="https://www.kaggle.com/code/alexquindi/detecting-malaria-cnn-95-accuracy" class="icon-link"><i class="fa fa-link"></i></a>
            <a href="#" class="icon-link"><i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>
  
      <!-- Proyecto 2 -->
      <div class="col-md-4 d-flex">
        <div class="project-card2" (mouseenter)="setHover(2, true)" (mouseleave)="setHover(2, false)" (click)="toggleExpand(2)">
          <div class="project-header">
            <i class='far fa-folder-open' style='font-size:36px'></i>
            <h3>{{titleotherproyect1}}</h3>
          </div>
          <p>{{otherproyect1}}</p>
          
          <div class="project-tags default-tags" id="defaultTags" [class.hidden]="isExpanded[2] || hover[2]">
            <span class="badge">Python</span>
            <span class="badge">TensorFlow & Keras</span>
            <span class="badge">OpenCV (cv2)</span>
            <span class="badge">Matplotlib & Seaborn</span>
            <span class="badge">Scikit-learn</span>
          </div>
          <div class="project-icons" [class.hidden]="isExpanded[2] || hover[2]">
            <a href="#https://www.kaggle.com/code/alexquindi/detecting-malaria-cnn-95-accuracy" class="icon-link"><i class="fa fa-link"></i></a>
            <a href="#" class="icon-link"><i class="fab fa-github"></i></a>
          </div>
      
          <!-- Contenido oculto al inicio -->
          <div class="extra-content" id="extraContent">
            <div class="project-tags" style="display: flex;">
              <span class="badge">Python</span> 
              <span class="badge">TensorFlow & Keras</span> <p>Construcción y entrenamiento de la CNN.</p>
              <span class="badge">OpenCV (cv2)</span> <p>Preprocesamiento y manipulación de imágenes.</p>
              <span class="badge">Matplotlib & Seaborn</span> <p>Análisis y visualización de resultados.</p>
              <span class="badge">Scikit-learn</span> <p>Evaluación y validación del modelo.</p>
            </div>
            <p>🎯 <strong>Objetivo:</strong></p>
            <p>{{infootherproyect1}}</p>
          </div>
          <div class="project-icons">
            <a href="#https://www.kaggle.com/code/alexquindi/detecting-malaria-cnn-95-accuracy" class="icon-link"><i class="fa fa-link"></i></a>
            <a href="#" class="icon-link"><i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>
  
      <!-- Proyecto 3 -->
      <div class="col-md-4 d-flex">
        <div class="project-card2" (mouseenter)="setHover(3, true)" (mouseleave)="setHover(3, false)" (click)="toggleExpand(3)">
          <div class="project-header">
            <i class='far fa-folder-open' style='font-size:36px'></i>
            <h3>{{titleotherproyect1}}</h3>
          </div>
          <p>{{otherproyect1}}</p>
          
          <div class="project-tags default-tags" id="defaultTags" [class.hidden]="isExpanded[3] || hover[3]">
            <span class="badge">Python</span>
            <span class="badge">TensorFlow & Keras</span>
            <span class="badge">OpenCV (cv2)</span>
            <span class="badge">Matplotlib & Seaborn</span>
            <span class="badge">Scikit-learn</span>
          </div>
          <div class="project-icons" [class.hidden]="isExpanded[3] || hover[3]">
            <a href="#" class="icon-link"><i class="fa fa-link"></i></a>
            <a href="#" class="icon-link"><i class="fab fa-github"></i></a>
          </div>
      
          <!-- Contenido oculto al inicio -->
          <div class="extra-content" id="extraContent">
            <div class="project-tags" style="display: flex;">
              <span class="badge">Python</span> 
              <span class="badge">TensorFlow & Keras</span> <p>Construcción y entrenamiento de la CNN.</p>
              <span class="badge">OpenCV (cv2)</span> <p>Preprocesamiento y manipulación de imágenes.</p>
              <span class="badge">Matplotlib & Seaborn</span> <p>Análisis y visualización de resultados.</p>
              <span class="badge">Scikit-learn</span> <p>Evaluación y validación del modelo.</p>
            </div>
            <p>🎯 <strong>Objetivo:</strong></p>
            <p>{{infootherproyect1}}</p>
          </div>
          <div class="project-icons">
            <a href="#" class="icon-link"><i class="fa fa-link"></i></a>
            <a href="#" class="icon-link"><i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>
  
    </div> <!-- Cierre de .row -->
  </div>